:root {
  --primary-color: #00d1c3;
  --secondary-color: #fccd69;
  --header-color: #fff;
  --cardBg-color: #fff;
  --bodyBg-color: #defaf8;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background: var(--bodyBg-color);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Pacifico", cursive;
}

/* ========== HEADER ============= */

.recipe__header {
  background: var(--primary-color);
  color: var(--header-color);
  padding: 1em;
  text-align: center;
  margin-bottom: 2em;
}

.recipe__title,
.recipe__subtitle {
  margin-top: 0;
  margin-bottom: 0.4em;
}

.recipe__title {
  position: relative;
  padding: 0 20px;
  display: inline-block;
}

.recipe__subtitle {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
}

.recipe__title::after,
.recipe__title::before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("./images/half_lime.svg");
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.recipe__title::before {
  right: 100%;
  transform: scaleX(-1) translateY(-50%);
}

.recipe__title::after {
  left: 100%;
}

/* =========== NAVIGATION ========== */

.recipe__navigation {
  position: fixed;
}

.recipe__navigation__menu,
.recipe__navigation__submenu {
  list-style: none;
}

.recipe__navigation__menu {
  margin: 0;
}

.recipe__navigation__item {
  position: relative;
  font-family: "Pacifico", cursive;
}

.recipe__navigation__item a {
  margin-bottom: 0.3em;
  background: var(--primary-color);
  color: var(--header-color);
  text-decoration: none;
  padding: 0.3em 0.5em 0.3em 2em;
  display: block;
}

.recipe__navigation__item a:hover {
  color: var(--primary-color);
  background: var(--header-color);
}

.recipe__navigation__item a::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("./images/full_lime.svg");
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* ========== CARD ============ */

.recipe__card {
  background: var(--cardBg-color);
  margin: 1em auto 2em;
  width: 600px;
  max-width: 100%;
}

.recipe__card__header {
  background: var(--primary-color);
  color: var(--header-color);
  border-bottom: 10px solid var(--secondary-color);
  padding: 0.3em;
  text-align: center;
}

.recipe__card__title {
  margin: 0;
}

.recipe__card__content {
  padding: 1em;
}

.recipe__card__step img,
.recipe__thumb img {
  max-width: 100%;
}

.recipe__card__step {
  text-align: center;
  margin-bottom: 2.5em;
  padding-bottom: 1em;
  border-bottom: 5px dotted var(--secondary-color);
}

/* ========== FOOTER ============ */

.recipe__footer {
  color: var(--header-color);
  width: 100%;
  text-align: center;
  margin-top: 1em;
  padding: 0.7em;
  font-size: 12px;
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}
